
@{
    ViewData["Title"] = "History";
}

<h1 id="historyHeading">History</h1>

<figure>
    <div id="imgPlayers">
        <img src="/static files//imgPlayers.jpg" alt="former players" />
        <figcaption>Fig.1 - Trulli, Puglia, Italy</figcaption>
    </div>
</figure>

<div id="historyText">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna neque, venenatis eu pharetra ac, posuere non dui. Maecenas porttitor turpis sit amet condimentum posuere. Suspendisse fringilla metus vitae leo ornare, non tristique felis blandit. Nunc eget metus vel dolor venenatis aliquam. Aenean non porttitor est. In hac habitasse platea dictumst. Donec venenatis consectetur diam et venenatis. Proin mattis mollis sollicitudin. Praesent sed augue dapibus erat laoreet luctus.
Aenean pulvinar leo tempor, tincidunt tellus vel, finibus nisl. Morbi finibus orci lectus, quis luctus nunc sagittis at. Mauris quis scelerisque elit. Pellentesque eget mi porta, interdum nisl a, egestas quam. Pellentesque at libero nisl. Integer sit amet accumsan tortor, a suscipit nunc. Donec sed neque convallis orci mattis interdum.
Suspendisse sit amet suscipit enim. Maecenas gravida arcu ac felis scelerisque luctus. Curabitur maximus sapien est, feugiat dictum felis tincidunt a. Cras tincidunt, velit id ornare dictum, purus metus pulvinar dui, ut feugiat erat purus quis mi. Morbi vel metus lacus. Sed augue ante, rhoncus eu euismod eget, gravida sed nisl. Suspendisse ut tincidunt diam. Integer et arcu eu est maximus convallis.
Quisque interdum, dolor ac sollicitudin volutpat, purus orci vehicula felis, at posuere purus nisl eu nibh. Integer erat ante, tincidunt nec mollis a, maximus id dui. Duis lacinia, elit et tincidunt varius, sem ligula consectetur magna, nec laoreet diam felis sodales purus. Cras molestie leo ac augue tincidunt ullamcorper. Sed ornare, erat non consequat scelerisque, nunc erat tincidunt est, nec ultrices mauris sem quis mauris. In hac habitasse platea dictumst. Nulla eu purus eget libero vulputate commodo. In hac habitasse platea dictumst. Quisque sit amet molestie justo. Sed nec ligula non risus dictum fringilla. Sed pretium id velit id placerat. Nulla condimentum facilisis ex, at rutrum enim posuere id. Ut tristique tincidunt molestie. In nec risus ac magna imperdiet tempor.
Nunc et eleifend leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce pretium hendrerit imperdiet. Maecenas consequat nunc id nulla varius efficitur. Ut ut mi ac turpis lacinia volutpat. Donec et elit ac turpis fringilla mollis. Suspendisse semper tempus mi. Etiam lacus enim, sollicitudin vulputate tortor fermentum, aliquam aliquam metus. Praesent dignissim congue dapibus.
Aliquam hendrerit velit nibh, ut imperdiet odio venenatis ut. Maecenas nec elementum massa. Morbi erat eros, maximus sed est in, fermentum ullamcorper neque. Etiam non aliquet nibh. Nulla rhoncus ac sem vel auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam consequat ipsum id orci porttitor, in rhoncus ipsum placerat. Suspendisse sodales elit vitae ipsum lacinia commodo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam posuere vulputate mi, et ultrices ante dapibus vel. Phasellus placerat nibh lorem, at facilisis enim ultricies vitae. Aliquam et erat eu sapien auctor pellentesque vitae et libero. Curabitur bibendum eget odio eu finibus.
Suspendisse potenti. Integer in finibus velit. Nulla imperdiet arcu sit amet erat aliquet, molestie ornare dolor mattis. Mauris justo nunc, sagittis et purus sed, rutrum congue nibh. Vestibulum eget mi lectus. Vivamus ullamcorper, arcu ac porta ullamcorper, sem sapien convallis libero, a maximus purus nulla sit amet diam. Vestibulum finibus quam lacus, ac sagittis turpis convallis et. Nullam lacinia, lacus sit amet pulvinar fringilla, arcu orci dapibus arcu, nec rhoncus orci nibh et eros. Mauris gravida convallis tempor. Nullam pellentesque sapien ligula, id accumsan nunc porttitor ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris auctor enim elit, sit amet maximus mauris ornare id. Phasellus faucibus nulla ac risus fermentum tincidunt scelerisque in neque. Phasellus ligula nulla, ultricies ut ligula eu, fringilla pulvinar nulla. Sed eleifend cursus finibus.
Duis quis diam quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam ultrices sapien ac libero facilisis, eget rhoncus tortor lobortis. Phasellus pellentesque vel nulla sit amet aliquet. Maecenas hendrerit euismod viverra. Etiam ultricies mattis neque. Donec tellus arcu, ultrices nec bibendum non, viverra quis quam. Vestibulum eu vehicula risus.
</div>