html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*news*/
#content {
    display: flex;
    flex-wrap: wrap;
}


.post {
    margin: 10px;
    padding: 10px;
    flex: 40%;
    border: 1px solid #CBCBCB;
    padding: 10px;
    background-color: peru;
    height: 260px;
    color: white;
}




