html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*news*/
#content {
    display: flex;
    flex-wrap: wrap;
}


.post {
    margin: 10px;
    padding: 10px;
    flex: 40%;
    border: 1px solid #CBCBCB;
    padding: 10px;
    background-color: peru;
    height: 260px;
    color: white;
}

/*history*/

#historyHeading{
    color: red;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
}

#historyText{
    line-height: 1.6;
    color: tan;
}

#imgPlayers {
    text-align: center;
    padding-bottom: 2em;
}